# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
.env/

# Generated data files  (too large for GitHub)
data/
*.parquet
*.xlsx
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log
